<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitness2020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".MyNotificationPublisher" >
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>
        <activity android:name=".VideoInternalPage" />
        <activity android:name=".WebinarBookingConfirmationActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".PopularActivity" />
        <activity android:name=".TopFitnessCentres" />
        <activity android:name=".FitAtWorkForm" />
        <activity android:name=".NumberVerificationActivity" /> <!-- <activity android:name=".fragments.BookingLiveTab" /> -->
        <activity android:name=".EventsInternalActivity" />
        <activity android:name=".VideosActivity" />
        <activity android:name=".WebinarTabActivity" />
        <activity android:name=".GymBookingFinalPage" />
        <activity android:name=".CollectionInternalActivity" />
        <activity android:name=".GymActivity" >
        </activity>
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ReferEarn" />
        <activity android:name=".MembershipActivity" />
        <activity android:name=".TrialMembershipBooking" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".TrialCardActivity" />
        <activity android:name=".MainActivity" >

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.exampleabc.com" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".BookingsActivity" />
        <activity android:name=".SignupNewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_HqSlulF6ISs7M3" />
    </application>

</manifest>