<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitness2020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventsInternalActivity"></activity>
        <activity android:name=".VideosActivity" />
        <activity android:name=".WebinarTabActivity" />
        <activity android:name=".GymBookingFinalPage" />
        <activity android:name=".CollectionInternalActivity" />
        <activity android:name=".LoginPage" />
        <activity android:name=".GymActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ReferEarn" />
        <activity android:name=".MembershipActivity" />
        <activity android:name=".TrialMembershipBooking" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".fragments.ValidityCardActivity" />
        <activity android:name=".fragments.TrialCardActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BookingsActivity" />
        <activity android:name=".SignupInternalActivity" />
        <activity android:name=".LoginInternalActivity" />
        <activity android:name=".SignupNewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>